{% extends('base.html.twig') %}
{% block title %} Trips list {% endblock %}
{% block body %}
    <div class="container py-5">

        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-5">
                            <h1>Trip List</h1>
                                </div>
                                    <div class="col-md-7">

                                        {{ form_start(form) }}
                                        <div>
                                            {{ form_label(form.tripCity) }}
                                            {{ form_widget(form.tripCity) }}
                                        </div>
                                        <div>
                                            {{ form_label(form.tripNumber) }}
                                            {{ form_widget(form.tripNumber) }}
                                        </div>
                                        <button type="submit">Filter</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row color-white" style="background-color:white;">
                <div class="col-lg-8 mx-auto">
                    <table id="trip" class="table table-custom">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Visit places list</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        {% if trips%}

                        </thead>
                        <tbody>
                        {% for trip in trips %}
                            <tr>
                                <td>{{ trip.getName }}</td>
                                <td>{{ trip.getVisit }}</td>
                                <td>{{ trip.getDescription }}</td>

                                <td>
                                    <a href="/trip/{{ trip.id }}" class="btn btn-dark">Show</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}