{% extends('base.html.twig') %}
{% block title %} Place list {% endblock %}
{% block body %}
    <style>
        .btn {
            display: inline-block;
            padding: 5px 10px;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
            font-family: Arial, sans-serif;
        }
        /* Register button styles */
        .btn-register {
            background-color: #d1d2d4;
            color: black;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
    <div class="container py-5">

        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-5">
                            <h1>Place List</h1>
                                <a href="/place/new" class="btn btn-register">Add new place</a>

                                </div>
                                    <div class="col-md-7">

                                        {{ form_start(form) }}
                                        <div>
                                            {{ form_label(form.placeType) }}
                                            {{ form_widget(form.placeType) }}
                                        </div>
                                        <div>
                                            {{ form_label(form.placeCity) }}
                                            {{ form_widget(form.placeCity) }}
                                        </div>
                                        <button type="submit">Filter</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row color-white" style="background-color:white;">
                <div class="col-lg-8 mx-auto">
                    <table id="place" class="table table-custom">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Working hours</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        {% if places %}

                        </thead>
                        <tbody>

                        {% for place in places %}
                            <tr>
                                {% if place.getIsVisible != 0 %}
                                    <td>{{ place.getName }}</td>
                                    <td>{{ place.getAddress }}</td>
                                    <td>{{ place.getType }}</td>
                                    <td>{{ place.getDescription }}</td>
                                    <td>{{ place.getWorking }}</td>
                                    <td>{{ place.getPrice }}</td>

                                <td>
                                    <a href="/place/{{ place.id }}" class="btn btn-dark">Show</a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}